<optgroup label="">
	<option value="on">Ontario</option>
</optgroup>
<optgroup label="">
	<option value="ab">Alberta</option>
	<option value="bc">British Columbia</option>
	<option value="mb">Manitoba</option>
	<option value="nb">New Brunswick</option>
	<option value="nl">Newfoundland and Labrador</option>
	<option value="nt">Northwest Territories</option>
	<option value="ns">Nova Scotia</option>
	<option value="nu">Nunavut</option>
	<option value="on">Ontario</option>
	<option value="pe">Prince Edward Island</option>
	<option value="qc">Qu&eaute;bec</option>
	<option value="sk">Saskatchewan</option>
	<option value="yt">Yukon</option>
</optgroup>
<optgroup label="">
	<option value="outside-canada">Outside of Canada</option>
</optgroup>
