---
layout: example
---
<style scoped="scoped">
    body {
        padding-bottom: 2em;
    }
    label {
        display: block;
    }
    input, textarea, select {
        min-width: 20em;
    }
    textarea {
        height: 5.5em;
    }
    table input {
        min-width: 5em;
    }
    input[type=radio], input[type=checkbox] {
        min-width: 2em;
    }
    input[type=radio] + label, input[type=checkbox] + label {
        display: inline;
    }
    ol {
        list-style-type: none;
        padding-left: 0;
    }
    small {
        color: #999;
    }
    kbd {
        border-width: 2px;
        border-style: outset;
        padding: 1px;
        background-color: #eee;
    }
    .explanation {
        background-color: #ffffcc;
        padding: 0.3em;
    }
    </style>
{{ content }}